*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'McLaren', Verdana, sans-serif;
    text-decoration: none;
}
:root{
    --primary-color: #568bc9;
    --nav-color: #568bc9;
    --dash-color: #fff;
    --logo-color: #fff;
    --text-color: #000;
    --text-color-light: #333;
    --white: #fff;
    --border-color: #ccc;
    --toggle-color: #fff;
    --box1-color: #6fedd6;
    --box2-color: #c1d5a4;
    --box3-color: #ffd39a;
    --title-icon-color: #fff;

    --time-03: all 0.3s linear;
    --time-02: all 0.2s linear;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #36669c;
}
body.dark::-webkit-scrollbar{
    width: 6px;
    border-radius: 40px;
}
body.dark::-webkit-scrollbar-track{
    background-color: #6e6d6d;
    border-radius: 40px;

}
body.dark::-webkit-scrollbar-thumb{
    border-radius: 40px;
    background-color: #fff;
}
body{
    width: 100px;
    min-height: 100vh;
    background-color: var(--dash-color);
    overflow-x: hidden;
}
body.dark {
    --primary-color: #3a3b3c;
    --nav-color: #181919;
    --dash-color: #262629;
    --logo-color: #ddd;
    --text-color: #ccc;
    --text-color-light: #ccc;
    --white: #aaa;
    --border-color: #404040;
    --toggle-color: #ddd;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ddd;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-color);
    padding: 10px 0 10px 10px;
    transition: .3s ease;
}
nav.close {
    width: 80px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo-image{
    padding-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
nav .logo-image img{

    width: 45px;
    height: 45px;
    object-fit: cover;
}
nav .logo .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--logo-color);
    margin-left: 14px;
    white-space: none;
    transition: .3s ease;

}
nav.close .logo .logo-name {
    opacity: 0;
}
nav .menu-items{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    justify-content: space-between;
}
nav .menu-items li{
    list-style: none;
}
nav .menu-items li a{
    display: flex;
    margin-top: 10px;
    align-items: center;
    height: 50px;
}
nav .menu-items li.active a{
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
nav .menu-items li a ion-icon{
    color: var(--white);
    font-size: 24px;
    min-width: 45px;
    transition: .3s ease;
}
nav.close .menu-items li a ion-icon{
    padding-left: 12px;
    font-size: 34px;
}
nav .menu-items li a .links {
    font-size: 18px;
    color: var(--white);
    transition: .3s ease;
}
nav.close .menu-items li a .links {
    opacity: 0;
}
nav .menu-items li.active a {
    background-color: var(--dash-color);
}
nav .menu-items li.active a:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    border-radius: 50%;
    box-shadow: 20px 20px var(--dash-color);
}
nav .menu-items li.active a:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 20px -20px var(--dash-color);
    pointer-events: none;
}
nav .menu-items li.active a .links {
    color: var(--primary-color);
}
body.dark nav .menu-items li.active a .links,
body.dark nav .menu-items li a .links,
body.dark nav .menu-items li a ion-icon,
body.dark nav .menu-items li.active a ion-icon {
    color: #fff;
}
nav .menu-items li.active a ion-icon {
    color: var(--primary-color);
}
nav .menu-items .mode {
    display: flex;
}
.menu-items .darkToggle {
    position: absolute;
    right: 15px;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkToggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.darkToggle .switch:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #36669c;
    transition: .3s ease;
}
body.dark .darkToggle .switch:before{
    background-color: #262629;

}
body.dark .switch::before {
    left: 20px;
}
section.delete {
    opacity: 0;
}
.drives{
    position: relative;
    left: 250px;
    width: calc(100% + 770px);
    min-height: 200vh;
    background-color: var(--dash-color);
    padding: 10px 15px;
    transition: .5s ease;
}
nav.close ~ .drives{
    width: calc(100% + 790px);
    left: 72px;
}
nav.close ~ .drives .top{
    width: calc(100% + 790px);
}
.drives .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 250px;
    padding: 10px 15px;
    width: calc(100% + 770px);
    transition: .4s ease;
}
nav.close ~ .drives .top{
    width: calc(100% + 900px);
}
.drives .top .navToggle{
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
}
.top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.drives .top .searchBox {
    position: relative;
    height: 45px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    width: 600px;
}
.drives .top .searchBox:focus-within{
    border-color: #0ff9;
    box-shadow: 0 0 5px #36669c;
}
.top .searchBox input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
    background-color: var(--dash-color);
}

body.dark .top .searchBox input {
    color: #fff;
}

.top .searchBox input:focus{
    outline: none;
    font-size: 17px;
}
.top .searchBox ion-icon{
    font-size: 22px;
    color: var(--text-color-light);
    padding: 0 20px;
}
.drivesbelow {
    width: calc(100% + 740px);
}
.drivesbelow,
.drivestxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
}
.drivestxt .opport {
    font-size: 30px;
}
.drivestxt .results {
    font-size: 12px;
    margin-left: 20px;
    border: none;
    background: #efecf3;
    border-radius: 100px;
    padding: 10px;
    color: #666276;
    font-weight: 600;
    position: relative;
}
.suggestion .suggest {
    background: #5c9ee9;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 800;
    color: #000;
}
.mapncalendar .map,
.mapncalendar .calendar {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.details {
    position: relative;
    width: 170%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
    transition: .2s ease;
}
.details .recentDrives {
    position: relative;
    display: grid;
    min-height: 700px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0,0.1);
    border-radius: 20px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-size: 38px;
    font-weight: 600;
    color: var(--primary-color);
}
.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--nav-color);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    font-size: 23px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
.details table thead td {
    font-weight: 600;
}
.details .recentDrives table tr,
.details .recentDrives table .names
 {
    font-size: 20px;
    color: var(--text-color);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.details .recentDrives table tr:last-child,
.details .recentDrives table .names:last-child {
    border-bottom: none;
}
.details .recentDrives table tbody tr:hover,
.details .recentDrives table tbody .names:hover {
    background: #5c9ee9;
    color: var(--white);
    cursor: pointer;
}
.details .recentDrives table tr td,
.details .recentDrives table .names td {
    padding: 12px;
}
.details .recentDrives table tr td:nth-child(2),
.details .recentDrives table .names td:nth-child(2){
    text-align: end;
}
.details .recentDrives table tr td:nth-child(3),
.details .recentDrives table .names td:nth-child(3){
    text-align: end;
    text-align: center;
}