*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'McLaren', Verdana, sans-serif;
    text-decoration: none;
}
:root{
    --primary-color: #568bc9;
    --nav-color: #568bc9;
    --dash-color: #fff;
    --logo-color: #fff;
    --text-color: #000;
    --text-color-light: #333;
    --white: #fff;
    --border-color: #ccc;
    --toggle-color: #fff;
    --box1-color: #6fedd6;
    --box2-color: #c1d5a4;
    --box3-color: #ffd39a;
    --title-icon-color: #fff;

    --time-03: all 0.3s linear;
    --time-02: all 0.2s linear;
}
body{
    width: 100px;
    min-height: 100vh;
    background-color: var(--dash-color);
    overflow-x: hidden;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-color);
    padding: 10px 0 10px 10px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
nav .logo-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav .logo .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--logo-color);
    margin-left: 14px;
}
nav .menu-items{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    justify-content: space-between;
}
nav .menu-items li{
    list-style: none;
}
nav .menu-items li a{
    display: flex;
    margin-top: 10px;
    align-items: center;
    height: 50px;
}
nav .menu-items li.active a{
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
nav .menu-items li a ion-icon{
    color: var(--white);
    font-size: 24px;
    min-width: 45px;
}
nav .menu-items li a .links{
    font-size: 18px;
    color: var(--white);
}
nav .menu-items li.active a{
    background-color: var(--dash-color);
}
nav .menu-items li.active a:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    border-radius: 50%;
    box-shadow: 20px 20px var(--dash-color);
}
nav .menu-items li.active a:after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 20px -20px var(--dash-color);
}
nav .menu-items li.active a .links{
    color: var(--primary-color);
}
nav .menu-items li.active a ion-icon{
    color: var(--primary-color);
}
nav .menu-items .mode{
    display: flex;
}
.menu-items .darkToggle{
    position: absolute;
    right: 15px;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkToggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.darkToggle .switch:before{
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #36669c;
}
.drives{
    position: relative;
    left: 250px;
    width: calc(100% + 770px);
    min-height: 200vh;
    background-color: var(--dash-color);
    padding: 10px 15px;
}
.drives .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 770px);
}
.drives .top .navToggle{
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
}
.top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.drives .top .searchBox {
    position: relative;
    height: 45px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    width: 600px;
}
.drives .top .searchBox:focus-within{
    border-color: #0ff9;
    box-shadow: 0 0 5px #36669c;
}
.top .searchBox input{
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
}
.top .searchBox input:focus{
    outline: none;
    font-size: 17px;
}
.top .searchBox ion-icon{
    font-size: 22px;
    color: var(--text-color-light);
    padding: 0 20px;
}
.drivesbelow {
    width: calc(100% + 740px);
}
.drivesbelow,
.drivestxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
}
.drivestxt .opport {
    font-size: 30px;
}
.drivestxt .results {
    font-size: 12px;
    margin-left: 20px;
    border: none;
    background: #efecf3;
    border-radius: 100px;
    padding: 10px;
    color: #666276;
    font-weight: 600;
    position: relative;
}
.suggestion .suggest {
    background: #5c9ee9;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 800;
    color: #000;
}
.mapncalendar .map,
.mapncalendar .calendar {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;

}

.details .recentDrives {
    
}