*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'McLaren', Verdana, sans-serif;
    text-decoration: none;
    /* overflow-x: hidden; */
}
*::-webkit-scrollbar{
    width: 20px;
}
*::-webkit-scrollbar-track{
    background-color: #fff;
}
*::-webkit-scrollbar-thumb{
    background-color: #444;
    border-radius: 50px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
}
:root{
    --primary-color: #568bc9;
    --nav-color: #568bc9;
    --dash-color: #fff;
    --logo-color: #fff;
    --text-color: #000;
    --text-color-light: #333;
    --white: #fff;
    --border-color: #ccc;
    --toggle-color: #fff;
    --box1-color: #6fedd6;
    --box2-color: #c1d5a4;
    --box3-color: #ffd39a;
    --title-icon-color: #fff;
    --secondaryColor: #568bc4;
    --fontColor: #1e1e1e; 
    --whiteColor: #fff;
    --greyColor: #e7e7e7;
    --darkGreyColor: #5f5f5f;
    --softPurple: #e7e8ff;
    --softBlue: #c3e1ff;
    --softYellow: #fff5cc;
    --softRed: #ffcbc8;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--nav-color);
    padding: 10px 0 10px 10px;
    transition: .3s ease;
    overflow: hidden;
}
nav.close {
    width: 80px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo-image{
    padding-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
nav .logo-image img{

    width: 45px;
    height: 45px;
    object-fit: cover;
}
nav .logo .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--logo-color);
    margin-left: 14px;
    white-space: none;
    transition: .3s ease;

}
nav.close .logo .logo-name {
    opacity: 0;
}
nav .menu-items{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    justify-content: space-between;
}
nav .menu-items li{
    list-style: none;
}
nav .menu-items li a{
    display: flex;
    margin-top: 10px;
    align-items: center;
    height: 50px;
}
nav .menu-items li.active a{
    position: relative;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
nav .menu-items li a ion-icon{
    color: var(--white);
    font-size: 28px;
    min-width: 45px;
    transition: .3s ease;
}
nav.close .menu-items li a ion-icon{
    padding-left: 12px;
    font-size: 34px;
}
nav .menu-items li a .links {
    font-size: 18px;
    color: var(--white);
    transition: .3s ease;
}
nav.close .menu-items li a .links {
    opacity: 0;
}
nav .menu-items li.active a {
    background-color: var(--dash-color);
}
nav .menu-items li.active a:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    border-radius: 50%;
    box-shadow: 20px 20px var(--dash-color);
}
nav .menu-items li.active a:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -40px;
    border-radius: 50%;
    box-shadow: 20px -20px var(--dash-color);
    pointer-events: none;
}
nav .menu-items li.active a .links {
    color: var(--primary-color);
}
body.dark nav .menu-items li.active a .links,
body.dark nav .menu-items li a .links,
body.dark nav .menu-items li a ion-icon,
body.dark nav .menu-items li.active a ion-icon {
    color: #fff;
}
nav .menu-items li.active a ion-icon {
    color: var(--primary-color);
}
nav .menu-items .mode {
    display: flex;
}
.menu-items .darkToggle {
    position: absolute;
    right: 15px;
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkToggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.darkToggle .switch:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #36669c;
    transition: .3s ease;
}
body.dark .darkToggle .switch:before{
    background-color: #262629;

}
body.dark .switch::before {
    left: 20px;
}


.main{
    width: calc(100% - 5% - 5%);
    min-height: 100%;
    min-width: 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 3%;
    margin-left: 13%;
    background-color: var(--softPurple);
    z-index: 1;
    overflow-x: hidden;
}



/* Teacher Request */



.teachrequst{
    position: relative;
    width: 2330px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 40px;
}
.teachrequst .main-head{
    position: relative;
    display: grid;
    min-height: 400px;
    background: var(--white);
    padding: 40px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    border-radius: 20px;
}
.teachrequst table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.teachrequst table thead td {
    font-weight: 600;
}
.teachrequst .main-head table tr{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: .4s ease;
}
.teachrequst .main-head table tbody tr:hover{
    transform: scale(1.07);
    z-index: 200;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    color: #fff;
}

.teachrequst .main-head table tr td {
    padding: 10px;
}
.teachrequst .main-head table tr:last-child{
    border-bottom: none;
}
.teachrequst .main-head table tr td:last-child{
    text-align: end;
}
