* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jua;
    scroll-behavior: smooth;
}
body {
    background-image: url("https://bit.ly/3QC5m5m");
    background-position: fixed;
    background-position: center;
    background-size: cover;
}

/* Navbar Page */

.container {
    height: 100%;
    width: 100%;
    position: relative;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
}
.header.sticky {
    background: var(--bg-color);
}
.navbar li {
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 9rem;
    cursor: pointer;
    transition: .8s;
}
.navbar li:hover,
.navbar li.active {
    color:red;
}
.navbar {
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: white 3.3px solid;
    background: #568bc9;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Home Page */

.homepage {
    display: flex;
    /* bottom: 500em; */
} 
.signup {
    width: 50%;
    float: left;
    padding: 40px;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(23.59, 69.03, 157.25, 0.78) 18%, rgba(23.96, 174.25, 147.20, 0.67) 100%);
}
.teacher {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.parents {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.donor {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.downloandapp {
    width: 50%;
    float: right;
    padding: 40px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(7, 79, 222, 0.78) 18%, rgba(23, 6, 156, 0.67) 100%);
}
.downloandapp h1 {
    margin-right: 20px;
}
.btns {
    margin: 50px;
    display: flex;
}
.gp,
.as {
    /* display: flex; */
    display: inline;
    padding: 30px;
}
.gp svg {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.as img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.as p {
    font-size: 40.6px;
}
.gp p {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
}
.downloandapp, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99.3vh;
}

@media screen and (max-width: 1080px) {
    .signup {
        width: 100%;
        /* float: left; */
    }
    .downloandapp {
        width: 100%;
        /* float: right; */
    }

}

/* Teacher Opions */

.videos {
    display: flex;
    max-width: 100%;
    height: 95vh;  
    margin: 40px auto;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1%;
    background: linear-gradient(90deg, #060251 0%, #090979 35%, #00d4ff 100%);
}
.videos .main-video-con,
.videos .vid-list-con {
    margin-top: 14em;
    margin-left: 3.5em;
    margin-right: 3.5em;
}
.videos .main-video-con {
    flex: 1 1 500px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgb(0, 0, .1);
    background-color: #fff;
    padding: 15px;
}
.videos .main-video-con .main-video {
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}
.videos .main-video-con .main-video-title {
    font-size: 20px;
    color: #444;
}
.videos .vid-list-con {
    flex: 1 1 250px;
    height: 500px;
    overflow-y: scroll;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgb(0, 0, .1);
    background-color: #fff;
    padding: 15px;
}
.videos .vid-list-con::-webkit-scrollbar {
    width: 15px;
}
.videos .vid-list-con::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}
.videos .vid-list-con::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 50px;
}
.videos .vid-list-con .list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 11px;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}
.videos .vid-list-con .list:last-child {
    margin-bottom: 0;
}
.videos .vid-list-con .list.active {
    background-color: #444;
}
.videos .vid-list-con .list.active .list-title {
    color: #fff;
}
.videos .vid-list-con .list .list-video {
    width: 100%;
    border-radius: 6px;
}
.videos .vid-list-con .list .list-title {
    color: #444;
}

/* Sign up/Sign in Page */

.form-box{
    width: 520px;
    height: 600px;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 6% auto;
    padding: 5px;
    background: #fff;
    overflow: hidden;
    overflow-y: scroll;
    
}
.button-box {
    width: 420px;
    margin: 45px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn {
    padding: 16px 35px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 17px;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s ease;
}
.input-group {
    top: 130px;
    margin-left: 20px;
    position: absolute;
    width: 340px;
    transition: .5s ease;
}
.input-group .a {
    font-size: 16px;
    color: #009579;
    text-decoration: none;
}
.input-group .a:hover {
    text-decoration: underline;
}
.input-group .span {
    padding-bottom: 2em;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.select-menu {
    width: 343px;
    margin: 15px auto;
    transition: .5s ease;
}
.select-menu .select-btn {
    display: flex;
    height: 15px;
    background: teal;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.select-menu .select-btn{
    display: flex;
    height: 45px;
    background: rgb(86, 203, 203);
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn img{
    width: 40px;
    margin-right: 4px;
}
.select-btn i{
    font-size: 20px;
    transition: 0.4s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.1) inset;
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option img{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-txt{
    font-size: 18px;
    color: #333;
}
.submit-btn {
    width: 95%;
    padding: 7px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}
.submit-btn a {
    text-decoration: none;
    color: #000;
    transition: .5s ease;
}
.check-box {
    margin: 30px 10px 30px 0;
}
.check-box span {
    color: #777;
    font-size: 12px;
    bottom: 60px;
    position: absolute;
}
#teacher {
    left: 50px;
    transition: .6s ease;
}
#parents {
    left: 550px;
    transition: .6s ease;
}
#donor {
    left: 550px;
    transition: .6s ease;
}
.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    display: none;
}
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .3s ease;

}
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}



@media screen and (max-width: 1300px) {
    .videos {
        display: block;
        margin:0;
        margin: 60px auto;
        flex-wrap: none;
        align-items: center;
        justify-content: center;
        gap: 0%;
    }
    .videos .main-video-con {
        /* flex: 1 1 600px; */
        margin-bottom: 30px;
        /* margin-top: 10px; */
        width: 95%;
        margin-left: 30px;
        box-shadow: 1px 1px 5px rgb(0, 0, .1);
    }
    .videos .vid-list-con {
        /* flex: 1 1 250px; */
        height: 500px;
        width: 80%;
        margin-left: 130px;
        overflow-y: scroll;
        border-radius: 6px;
        box-shadow: 0 5px 15px rgb(0, 0, .1);
        background-color: #fff;
        padding: 15px;
    }
    .videos .main-video-con .main-video-title {
        font-size: 15px;
        text-align: center;
    }
}

/* About Page */

.section{
    width: 100%;
    min-height: 60vh;
    margin: 40px auto;
    background: linear-gradient(180deg, rgba(23.59, 69.03, 157.25, 0.78) 18%, rgba(23.96, 174.25, 147.20, 0.67) 100%);
}
.contaner{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button {
    margin-top: 50px;
    margin-bottom: 50px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 22px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}
.content-section .social{
    margin: 40px 40px;
}
.content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0 10px;
}
.content-section .social i:hover{
    color: #3d3d3d;
}

@media screen and (max-width: 768px){
    .contaner{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button {
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }

}


/* Contact Page */







































































/* 
.screen {
    width: 90vh;
    height: 150vh;
    padding: 20px;
    position: flex;
    background: linear-gradient(180deg, rgba(23.59, 69.03, 157.25, 0.78) 18%, rgba(23.96, 174.25, 147.20, 0.67) 100%);
}
.btn {
 width: 450px; 
 height: 70px; 
 left: -20px; 
 top: 0px; 
 position: absolute; 
 background: rgba(11.63, 37.15, 75.44, 0.67); 
 border-radius: 12px;
}
.signuptxt {
 font-family: Imprima;
}
.five1 {
 width: 30px; 
 height: 30px; 
 left: 252px; 
 top: 18px; 
 position: absolute; 
}
.six1 svg {
 width: 35px;
 height: 35px;
 left: 5px;
 top: 0;
 position: absolute;
}
.typeschol {
 width: 422px; 
 height: 80px; 
 left: 50px; 
 top: 540px; 
 position: absolute;
}
/* .inputfield {
 width: 480px; 
 height: 66px; 
 left: 2px; 
 top: 8px; 
 position: absolute; 
 background: #D9D9D9; 
 border-radius: 12px;
}
.bluebox {
 width: 80px; 
 height: 80px; 
 left: 0px; 
 top: 0px; 
 position: absolute;
 background: #23476F; 
 border-radius: 14px;
}
.icon {
 width: 45px; 
 height: 45px; 
 left: 17px; 
 top: 18px; 
 position: absolute;
}
.scholicon svg {
 width: 45px; 
 height: 45px; 
 left: 0;
 top: .3px;
 position: absolute;
}
.typeschol form {
 width: 900px; 
 height: 37px; 
 left: -150px; 
 top: 10px; 
 position: absolute; 
 text-align: center;
 border: none;
 outline: none;
 color: #858484;
 background: transparent;
 font-size: 37px; 
 font-family: Imprima; 
 font-weight: 400;
 word-wrap: break-word;
}
.typeschol form label {
    text-shadow:
		-1px -1px 0 #5e5a5a,
		1px -1px 0 #5e5a5a,
		-1px 1px 0 #5e5a5a,
		1px 1px 0 #5e5a5a;
}
form select {
 width: 120px; 
 height: 30px;
 top: 60em;
 background-color: #d6e8fc;
 padding: 5px;
}
.schol {
    width: 427px; 
    height: 80px; 
    left: 50px; 
    top: 450px; 
    position: absolute;
}
.inputfield2 {
    width: 480px; 
    height: 66px; 
    left: 2px; 
    top: 8px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 12px;
}
.bluebox2 {
    width: 80px; 
    height: 80px; 
    left: 0px; 
    top: -7px; 
    position: absolute; 
    background: #23476F; 
    border-radius: 14px;
}
.three2 {
    width: 45px;
    height: 45px;
    left: 15px;
    top: 10px;
    position: absolute;
    background: rgba(255, 255, 255, 0);
}
.three2 svg {
    width: 45px; 
    height: 45px; 
    left: 1.88px; 
    top: 1.10px; 
    position: absolute;
}
.input-field::backdrop {
    width: 378px; 
    height: 40px; 
    left: 80px;
    top: 10px;
    border: none;
    outline: none;
    background: transparent;
    position: absolute; 
    text-align: center; 
    color: #858484; 
    font-size: 32px; 
    font-family: Imprima; 
    font-weight: 400; 
    word-wrap: break-word;
}
.bluebox3 {
    width: 80px; 
    height: 80px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #23476F; 
    border-radius: 14px;
}
 */